body {
    background-color: black;
    display : flex;
    justify-content : center;
    align-content : center;
}

button {
    transition: background-color, 1s ease;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-width : 5px;
    border-style : solid;
    border-color : white;
    padding-top : 10px;
    padding-bottom: 10px;
    padding-left : 20px;
    padding-right: 20px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear; 

}

button:hover {
    background-color: white;
    color:black;
    transform: translateX(200px) scale(1.5);
}